* {
    padding: 0px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
    border: none;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
}

:root {
    --primary-color: #656769;
    --secondary-color: #7210f2;
    --third-color: #262730;
}

body {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 20px 25px;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    color: var(--third-color);
    box-shadow: 2px 2px 5px 2px #e2e2e3;
}

.logo {
    width: 10%;
    margin-left: 20px;
}

.logo h2 {
    font-size: 17px;
    font-weight: 600;
    padding: 5px;
    color: #262730;
    text-transform: uppercase;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 50px;
}

.list {
    display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
}
nav .links a {
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    color: var(--primary-color);
    transition: border-bottom 0.1s ease-in-out;
    width: auto;
    height: 30px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover {
    color: var(--secondary-color) !important;
    background-color: #e8e8e8;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 50px 0px;
}
.animated_section {
    opacity: 0;
    transform: translateY(-80px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animated_section.visible {
    opacity: 1;
    transform: translateY(0);
}

.leftSection {
    display: flex;
    flex-direction: column;
    width: 58%;
    margin-top: 50px;
    margin-left: 50px;
}

.greeting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.greeting h5 {
    font-size: 18px;
    font-weight: 400;
    color: var(--third-color);
}

.greeting img {
    width: 40px;
}

.leftSection h2 {
    color: var(--third-color);
    font-size: 65px;
    text-transform: capitalize;
}

.leftSection span {
    color: var(--secondary-color);
}

.leftSection p {
    margin-top: 20px;
    color: var(--primary-color);
    font-size: 22px;
}
.btns{
    width: 100%;
}
.btns button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 500;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-top: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.btns button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--secondary-color);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: 1s ease-in-out
}

.btns #browse::before {
    background-color: var(--third-color);
}

.btns button:hover {
    color: #e2e2e3;
}

.btns button:hover::before {
    width: 100%;
}

.rightSection {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.rightSection img {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    transition: 1s ease-in-out;
}

.rightSection img:hover,
.rightSide img:hover {
    transform: translateX(20px);
}

.introduction {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-bottom: 50px;
}

.right {
    width: 55%;
    margin-top: 20px;
}

.left {
    width: 44%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.left img {
    width: 80%;
    height: auto;
    transition: 1s ease-in-out;
}

.left img:hover {
    transform: translateX(20px);
}

.introduction h2,
.projects h3,
.head h2 {
    font-size: 45px;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
    border-bottom: 3px solid #7210f2;
}

.introduction p {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 400;
    color: var(--primary-color);
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: auto;
    border: 2px solid #7210f2;
    background-color: #e2e2e3;
    border-radius: 10px;
    padding: 50px;
    color: #262730;
    font-size: 26px;
    font-weight: 500;
    box-shadow: 2px 5px 5px #83868a;
    transition: 1.5s ease-in-out;
}

.card img {
    width: 25%;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.card p {
    font-size: 18px;
    font-weight: 400;
    color: #656769;
    margin: 20px 0px;
}

.card a {
    font-size: 16px;
    font-weight: 400;
    color: #7210f2;
}

.card:hover {
    transform: scale(0.9);
}

.education {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.leftSide {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-bottom: 50px;
    width: 60%;
}

.leftSide img {
    width: 55px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faculty,
.internship {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 50px;
}

.image {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.faculty h3,
.internship h3 {
    font-family: "Wittgenstein", serif;
    font-size: 25px;
    font-weight: 600;
}

.faculty p,
.internship p {
    padding: 20px 80px;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
}

.content {
    display: flex;
    flex-direction: row;
}

.rightSide {
    width: 39%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.rightSide img {
    width: 99%;
    transition: 1s ease-in-out;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
    margin-top: 50px;
}

.contact .head {
    margin-bottom: 50px;
}

.contact a:hover {
    background-color: #e2e2e3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @keyframes move-to-top {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
} */
/* media query */
@media screen and (max-width: 770px) {
    .logo {
        margin: 0px !important;
    }

    #links {
        display: none;
    }
    
    #links.show {
        display: flex;
        flex-direction: column;
        width: 120%;
        height: 300px;
        position: relative;
        top: 55px;
        background-color: #fff;
        gap: 30px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 25px 20px 0px;
    }
    .menu{
        width: 100%;
        padding: 0px 5px 0px 45px;
    }
    .links.show{
        left: 20px;
    }
    .list {
        display: flex;
    }
    .appear{
        position: relative;
        left: 350px;
    }
    #checkbox {
        display: none;
    }

    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .5s;
    }

    .bars {
        width: 100%;
        height: 4px;
        background-color: rgb(176, 92, 255);
        border-radius: 4px;
    }

    #bar2 {
        transition-duration: .8s;
    }

    #bar1,
    #bar3 {
        width: 70%;
    }

    #checkbox:checked+.toggle .bars {
        position: absolute;
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bar2 {
        transform: scaleX(0);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bar1 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bar3 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle {
        transition-duration: .5s;
        transform: rotate(180deg);
    }
    p{
        font-size: 16px !important;
    }
    .introduction h2,
    .projects h3,
    .head h2{
        font-size: 30px;
    }
    .card{
        width: 48%;
    }
    .rightSection img{
        width: 100%;
    }
    .rightSide{
        width: 40%;
    }
    .rightSide img{
        width: 100%;
    }
    .leftSide{
        width: 100%;
        padding: 50px 10px 50px 50px;
    }
}
@media screen and (max-width: 500px){
    .home{
        padding: 0px;
    }
    .appear{
        left: 200px !important;
    }
    .menu{
        padding: 0px 25px;
    }
    .btns button{
        padding: 12px;
        font-size: 10px;
        border-radius: 10px;
    }
    .card{
        width: 80%;
    }
    .introduction{
        padding: 50px 10px;
    }
    .leftSection h2{
        font-size: 45px;
    }
    .rightSection{
        align-items: flex-end;
        height: 450px;
    }
    .rightSection img{
        height: 200px;
        width: 100%;
    }
    .rightSection img:hover,
    .rightSide img:hover,
    .left img:hover {
    transform: translateX(-12px);
}

    .rightSide{
        display: none;
        width: 40%;
    }
    .faculty p , .internship p{
        padding: 20px 0px 20px 20px;
    }
    .faculty img , .internship img{
        width: 40px;
    }
    .faculty h3 , .internship h3{
        font-size: 20px;
    }
    .left{
        width: 40%;
    }
    .left img{
        width: 97%;
    }
    .right{
        width: 60%;
    }
    .links.show{
        left: -160px;
        padding: 150px;
    }
}